<div class="row">
  <div class="col-12 text-center">
    <div class="container">
      <div class="card bg-light">
        <div class="card-body">
          <!-- Usamos *ngFor para iterar sobre los jugadores filtrados y agregamos (click) -->
          <ul>
            <li
              *ngFor="let jugador of jugadoresFiltrados"
              (click)="seleccionarJugador(jugador)"
            >
              <span class="jugador-nombre">{{ jugador.nombre }}</span>
              {{ jugador.apellido }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mostrar detalles del jugador seleccionado -->
<div *ngIf="jugadorSeleccionado">
  <!-- Botón para cerrar el detalle y resetear la selección -->
  <button (click)="resetJugadorSeleccionado()">Cerrar</button>
  <h4>Detalles del Jugador: {{ jugadorSeleccionado.nombre }}</h4>
  <img
    [src]="jugadorSeleccionado.img1"
    alt="{{ jugadorSeleccionado.nombre }} Imagen 1"
    width="200px"
  />
  <img
    [src]="jugadorSeleccionado.img2"
    alt="{{ jugadorSeleccionado.nombre }} Imagen 2"
    width="200px"
  />
  <p>Equipo: {{ jugadorSeleccionado.equipo }}</p>
  <p>Edad: {{ jugadorSeleccionado.edad }}</p>
  <p>Posición: {{ jugadorSeleccionado.posicion }}</p>
  <p>Altura: {{ jugadorSeleccionado.altura }}</p>
  <p>Partidos: {{ jugadorSeleccionado.partidos }}</p>

  <!-- Reproductor de video -->
  <div class="videopresentacion">
    <h4>Video Presentación</h4>
    <video width="600" controls>
      <source [src]="jugadorSeleccionado.video" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Botón para cerrar el detalle y resetear la selección -->
  <button (click)="resetJugadorSeleccionado()">Cerrar</button>
</div>