
<div class="container">
  
  <div class="row">
    
      <div class="col-12 text-center">
        <div class="container botonespaginainicio">
          <button (click)="muestraEquipos()"  type="button" class="btn btn-secondary linea" >Equipos</button>
          <button type="button" class="btn btn-secondary linea">Jugagores</button>
          <button type="button" class="btn btn-secondary linea">Partidos</button>
        </div>      
      </div>    
      <!--  hacer visible detail si se pulsa boton equipos-->
  </div>    

  
  <div [hidden]="!componenteVisible">Content to render when condition is      true.
   <app-lista-equipos-component></app-lista-equipos-component>
    <app-detail-component></app-detail-component>  
  </div>
   
</div>
 


 