<div class="row">
  <div class="col-12 text-center">
    <div class="container">
      <nav class="navbar navbar-fixed-top navbar-light bg-light border rounded">
        <a class="navbar-brand" href="#">
          <img src="/CodeCosmos_producto1/public/codecosmoslogo.png">
        </a>
        <div class="mx-auto">
        <p>Gestor de jugadores</p>
        </div>
      </nav>
    </div>
  </div>

<div class="row">
  <div class="col-12 text-center">
    <div class="container botonespaginainicio">
      <div class="btn-group">
      <div class="col-3 text-center linea"></div>
      <div class="dropdown">
        <!--button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Equipos
        </button-->
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Equipos
        </button>
      

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <!-- a class="dropdown-item" href="#">Equipo 1</a>
          <a class="dropdown-item" href="#">Equipo 2</a>
          <a class="dropdown-item" href="#">Equipo 3</a>
          <a class="dropdown-item" href="#">Equipo 4</a>
          <a class="dropdown-item" href="#">Equipo 5</a -->

          <div class="playerItem" *ngFor="let item of nombreEquipo">
            <a class="dropdown-item" href="#" (click)="onSelect(item.equipo)"  >{{ item.equipo }}</a>             
          </div>
        </div>
      </div>
      </div>
      <div class="col-3 text-center linea"></div>
        <button type="button" class="btn btn-secondary">Jugadores</button>
    </div>
    </div>
    </div>
  <!--/div-->
</div>

    <!-- al pulsar debe llamar acl componente que carga el equipo deseado -->
    <div [hidden]="!componenteVisible">Carga en consola si es true el json        
      <app-lista-equipos></app-lista-equipos>
      <!-- app-detail-component></app-detail-component -->  
    </div>

<div class="row">
  <div class="col-12 text-center">
    <div class="container detallesequipo">
    <div class="card bg-light">
      <div class="card-header">Listado de Jugadores del Equipo</div>
      <div class="card-body">
        <h5 class="card-title">Equipo 1</h5>
        <p class="card-text">Jugador 1, Jugador 2, Jugador 3, Jugador 4, Jugador 5</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-12 text-center">
      <div class="container footerweb">
        <div class="card text-bg-light">
            <div class="card-body">
              <div class="col-3 text-center linea">
               <p>Camelia Ancuta Moticeac</p>
               <p>Sue Cajidos Ros</p>
               <p>Alejandro Arévalo Rojas</p>
               <p>Carlos Bravo Serrano</p>
               <p>Liliana Diaz Ibañez</p>
              </div>
              <div class="col-3 text-center linea">
                
              </div>
               <div class="col-3 text-center linea">
                <img src="/CodeCosmos_producto1/public/codecosmoslogo.png">
               </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>


