 
 <nav class="navbar bg-body-tertiary rounded-pill">
    <div class="container-fluid">
      

        <img src="../src/assets/CodeCosmos.png"   alt="CodeCosmos" width="30" height="24" class="d-inline-block align-text-top">
        
        <label>Gestor de Jugdadores</label>      
        
        <button type="button" class="btn btn-secondary">Secondary</button>
    
    </div>
  </nav>

  <button type="button" class="btn btn-primary btn-sm">Equipos</button>
  <button type="button" class="btn btn-primary btn-sm">Jugadores</button>
  <button type="button" class="btn btn-primary btn-sm">Partidos</button>
  
  



